<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{ title }}</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
            <link href="{{ asset('css/site.css') }}" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block javascript_head %}{% endblock %}
    </head>
    <body>

        <div class="wrap">

            <nav id="w1" class="navbar-inverse navbar-fixed-top navbar">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#w1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">{{ 'dashboard'|trans }}: {{ 'orders'|trans }}</a>
                    </div>
                    <div id="w1-collapse" class="collapse navbar-collapse">
                        <ul id="w2" class="navbar-nav navbar-right nav">
                            <li class="active">
                                {% if is_granted("ROLE_USER") %}
                                    <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }} ({{ app.user.username }})</a>
                                {% else %}
                                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container">
                {% block body %}{% endblock %}
            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <p class="pull-left">bridennis</p>
                <p class="pull-right"></p>
            </div>
        </footer>

        {% block javascripts %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
